/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.navbar {
}

.navbar .toolbarbutton-text {
  display: none;
}

#browser {
	margin: 1px 2px 0px 2px;
	border: thin groove #aaaaaa;
}

#link_status {
	width: 16px !important;
	height: 16px !important;
	list-style-image: url("chrome://ssb/skin/toolbar2.png");
	-moz-image-region: rect(0px 305px 17px 288px);
}

.navbar {
	padding: 0px;
	margin: 0px;
}

.back {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  /*                    top right bottom left */ 
  -moz-image-region: rect(0px 17px 17px 0px);
}

.back[disabled="true"] {
  -moz-image-region: rect(18px 17px 35px 0px) !important;
}

.forward {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 35px 17px 17px);
}

.forward[disabled="true"] {
  -moz-image-region: rect(18px 35px 35px 17px);
}

.reload_stop[mode=""]{
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 71px 17px 54px);
}

.reload_stop[mode="loading"] {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 53px 17px 36px);
}

.zoomup {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 305px 17px 288px);
}
.zoomup[disabled="true"] {
  opacity: 0.3;
}

.zoomdown {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 287px 17px 270px);
}
.zoomdown[disabled="true"] {
  opacity: 0.3;
}

.setting {
  list-style-image: url("chrome://ssb/skin/toolbar2.png");
  -moz-image-region: rect(0px 467px 17px 450px);
}



.menuitem-iconic {
  /*-moz-box-flex: 1;*/
  -moz-appearance: none;
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  margin: 2px;
}


#context-navigation {
  background-color: menu;
  padding-bottom: 4px;
}

#context-sep-navigation {
  -moz-margin-start: -28px;
  margin-top: -4px;
}

#context-back {
/*
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back");
*/
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 17px 17px 0px);
}

#context-back[_moz-menuactive=true] {
/*
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back-active");
*/
  -moz-image-region: rect(0px 17px 17px 0px);
}

#context-back[disabled=true] {
  /*list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back-disabled");*/
  -moz-image-region: rect(18px 17px 35px 0px) !important;
}

#context-forward {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#forward");
}

#context-forward[_moz-menuactive=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#forward-active");
}

#context-forward[disabled=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#forward-disabled");
}

#context-reload {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#reload");
}

#context-reload[_moz-menuactive=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#reload-active");
}

#context-reload[disabled=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#reload-disabled");
}

#context-stop {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#stop");
}

#context-stop[_moz-menuactive=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#stop-active");
}

#context-stop[disabled=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#stop-disabled");
}

