/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#navbar {
	padding: 0px;
	margin: 0px;
}

#navbar .toolbarbutton-text {
  display: none;
}

#browser {
	margin: 1px 2px 0px 2px;
	border: thin groove #aaaaaa;
}

#link_status {
	width: 16px !important;
	height: 16px !important;
	list-style-image: url("chrome://ssb/skin/toolbar2.png");
	-moz-image-region: rect(0px 305px 17px 288px);
}

#navbar-back {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  /*                    top right bottom left */ 
  -moz-image-region: rect(0px 17px 17px 0px);

/* list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back"); */
}

#navbar-back[disabled="true"] {

  /*list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back-disabled");*/
  -moz-image-region: rect(18px 17px 35px 0px); /* !important;*/
}

#navbar-forward {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 35px 17px 17px);
}

#navbar-forward[disabled="true"] {
  -moz-image-region: rect(18px 35px 35px 17px);
}

#navbar-reload_stop[mode=""]{
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 71px 17px 54px);
}

#navbar-reload_stop[mode="loading"] {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 53px 17px 36px);
}

.zoomup {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 305px 17px 288px);
}
.zoomup[disabled="true"] {
  opacity: 0.3;
}

.zoomdown {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 287px 17px 270px);
}
.zoomdown[disabled="true"] {
  opacity: 0.3;
}

.setting {
  list-style-image: url("chrome://ssb/skin/toolbar2.png");
  -moz-image-region: rect(0px 467px 17px 450px);
}


.menuitem-iconic {
  -moz-box-flex: 1;
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  margin: 2px;
  width: 40px;
  height: 30px;
}


#context-navigation {
  background-color: menu;
  margin: 2px;
}

#context-navigation > .menuitem-iconic > .menu-iconic-text,
#context-navigation > .menuitem-iconic > .menu-accel-container {
  display: none;
}


#context-back {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back");
}

#context-back[_moz-menuactive=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back-active");
}

#context-back[disabled=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#back-disabled");
}

#context-forward {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#forward");
}

#context-forward[_moz-menuactive=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#forward-active");
}

#context-forward[disabled=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#forward-disabled");
}

#context-reload_stop[mode=""]{
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#reload");
}

#context-reload_stop[mode=""][_moz-menuactive=true]{
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#reload-active");
}

#context-reload_stop[mode="loading"] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#stop");
}

#context-reload_stop[mode="loading"][_moz-menuactive=true] {
  list-style-image: url("chrome://ssb/skin/content-contextmenu.svg#stop-active");
}

