/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.navbar {
/*
  -moz-border-end: 2px solid;
  -moz-border-left-colors: threeDShadow threeDHighlight;
  -moz-border-right-colors: threeDShadow threeDHighlight;
  -moz-border-bottom-colors: threeDShadow threeDHighlight;
  padding: 2px 0;
  -moz-box-align: center;
  background-color: -moz-dialog;
  border: 2px solid ThreeDShadow !important;
	border: 2px solid !important;
*/
	border: 2px solid !important;
	-moz-border-left-colors: threeDShadow threeDHighlight !important;
	-moz-border-top-colors: threeDShadow threeDHighlight !important;
	-moz-border-right-colors: threeDShadow threeDHighlight !important;
	-moz-border-bottom-colors: threeDShadow threeDHighlight !important;
	background-color: -moz-dialog;
}

.navbar .toolbarbutton-text {
  display: none;
}

.back {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  /*                    top right bottom left */ 
  -moz-image-region: rect(0px 17px 17px 0px);
}

.back[disabled="true"] {
  -moz-image-region: rect(18px 17px 35px 0px) !important;
}

.forward {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 35px 17px 17px);
}

.forward[disabled="true"] {
  -moz-image-region: rect(18px 35px 35px 17px);
}

.reload_stop[mode=""]{
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 71px 17px 54px);
}

.reload_stop[mode="loading"] {
  list-style-image: url("chrome://ssb/skin/toolbar.png");
  -moz-image-region: rect(0px 53px 17px 36px);
}

.setting {
  list-style-image: url("chrome://ssb/skin/toolbar2.png");
  -moz-image-region: rect(0px 467px 17px 450px);
}
